/** TOOLBAR
credits: W3Schools https://www.w3schools.com/howto/howto_js_topnav.asp
*/
.toolbar {
    background-color: #4b2c0f;
    overflow: hidden;
}

.toolbar .icon {
    height: 45.9px;
    width: 45.5px;
    background-color: #f8f5ed;
    border-radius: 30px;
    padding: 5px;
}

.toolbar a {
    color: #f8f5ed;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 29.5px;
    font-family: serif
}

.toolbar a:hover {
    background-color: rgb(90, 70, 65);
    color: white;
}

.toolbar a.active {
    color: white;
    font-weight: bold;
}

.header .logo{
    height: 345.3px;
    width: 365px;
}

.header .logo::backdrop{
    border-radius: 40px;
    background-color: #f8f5ed;
    
}