.col {
    flex: 50%;
}

.row {
  display: flex;
  width: 100%;
}

.col, .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    position: relative;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 6px 3%;
    background-color: rgb(53, 33, 25);
    color: whitesmoke;
    
}

.socials img {
    height: 20px;
    align-items: center;
    object-fit: contain;
}

.socials li{
    display: inline-block;
    padding: 0px 20px
}