footer{
    position: relative;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 6px 3%;
    background-color: rgb(53, 33, 25);
    color: whitesmoke;
}

.insta{
    width: 20px;
    height: 20px;
}

.facebook{
    width: 25px;
    height: 25px;
}
.socials{
    list-style: none;
}

.socials li{
    display: block;
    padding: 0px 20px
}

.socials li, a{
    color: whitesmoke;
    transition: all 0.3s ease 0s;
}

.socials li, a:hover{
    color: #9d9d9d
}

.col {
  flex: 50%;
}

.row {
  display: flex;
  width: 100%;
}

.col, .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}