.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px
}

.column{
    padding-left: 20px;
    flex: 1;
}

.column2{
    flex: 3;
}

.item-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-container{
    gap: 10px;
    margin-bottom: 2px;
}

.itm-img{
    opacity: 100%;
    height: 300px;
    width: 245px;
    z-index: auto;
    object-fit: cover;
}

.itm-tag{
    font-size: 10px;
    position: relative;
    bottom: -40px;
    width: max-content;
    padding: 5px;
    align-content: center;
}

.popup{
    position: relative;
    bottom: 110px;
    height: max-content;
    background-color: rgba(59, 17, 6, 0.84);
    color: whitesmoke;
    z-index: 2;
    line-height: 0.5;
    width: 239px;
    padding: 2px 3px;
}

.search-bar{
    width: 80%;
    font-size: 20px;
    padding: 4px;
    margin: 12px;
}
.submit-btn{
    color: black;
    padding: 4px;
    margin: 12px;
}

.time-periods, .types{
    font-size: 17px;
}