.itm-img{
    opacity: 100%;
    height: 300px;
    width: 245px;
    z-index: auto;
    object-fit: cover;
}

.itm-tag{
    width: max-content;
    padding: 5px;
    align-content: center;
}

.popup{
    position: relative;
    bottom: 110px;
    height: max-content;
    background-color: rgba(59, 17, 6, 0.84);
    color: whitesmoke;
    z-index:2;
    line-height: 0.5;
}
