@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Raleway", sans-serif;
}

.container{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    background-color: rgba(233, 224, 212, 0.9);
}

.column{
    padding-left: 10px;
    flex: 1;
}

.column2{
    flex: 4;
}

.item-grid{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.item-container{
    position: relative;
}

.itm-img{
    height: 300px;
    width: 245px;
    z-index: auto;
    object-fit:cover;
    align-content: center;
}

.itm-tag{
    font-size: 10px;
    position: relative;
    bottom: -50px;
    width: max-content;
    align-content: center;
    color: whitesmoke;
    left: 1%;
    font-weight: 600;
    z-index: 2;
    overflow: hidden;
}

.popup{
    position: absolute;
    bottom: 0;
    background-color: rgba(59, 17, 6, 0.60);
    color: whitesmoke;
    z-index: 2;
    line-height: 0.5;
    width: 89%;   
}

.itm-img:hover > .popup{
  top: 0;
  transform: scale(1);
    opacity: 1;
}
.search-bar{
    width: 80%;
    font-size: 20px;
    padding: 4px;
    margin: 12px;
}

.submit-btn{
    color: black;
    padding: 4px;
    margin: 12px;
}

.time-periods, .types{
    font-size: 17px;
}