img{
    z-index: auto;
    max-width: 100%;
    padding: 0%;
}

.umayyad-abbasid{
    object-fit: none;
    position: absolute;
    top: 550px;
    left: 561px;
    height: 73px;
    width: 50px;
    z-index: 2;
    font-size: 5px;
    background-color: rgba(104, 87, 74, 1);
}

.fatimid{
    object-fit: none;
    position: absolute;
    top: 550px;
    left: 620px;
    height: 73px;
    width: 275px;
    z-index: 2;
    background-color: rgba(133, 116, 104, 1);
}

.ayyubid{
    object-fit: none;
    position: absolute;
    top: 630px;
    left: 620px;
    height: 50px;
    width: 275px;
    z-index: 2;
    background-color: rgba(135, 124, 96, 1);
}

.mamluk{
    object-fit: none;
    position: absolute;
    top: 683px;
    left: 620px;
    height: 75px;
    width: 275px;
    z-index: 2;
    background-color: rgba(135, 124, 96, 1);
}

.mamluk-ottoman{
    object-fit: none;
    position: absolute;
    top: 683px;
    left: 562px;
    height: 96px;
    width: 50px;
    z-index: 2;
    font-size: 2px;
    background-color: rgba(130, 122, 94, 1);
}

.ottoman{
    object-fit: none;
    position: absolute;
    top: 630px;
    left: 562px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: rgba(130, 122, 94, 1);
}

.ottoman2{
    object-fit: none;
    position: absolute;
    top: 630px;
    left: 430px;
    height: 45px;
    width: 50px;
    z-index: 2;
    background-color: rgba(130, 122, 94, 1);
}

.medicine{
    object-fit: none;
    position: absolute;
    top: 680px;
    left: 430px;
    height: 64px;
    width: 50px;
    z-index: 2;
    background-color: rgba(130, 88, 72, 1);
}

.nature{
    object-fit: none;
    position: absolute;
    top: 680px;
    left: 342px;
    height: 75px;
    width: 80px;
    z-index: 2;
    background-color: rgba(190, 108, 87, 1);
}

.calligraphy{
    position: absolute;
    top: 480px;
    left: 100px;
    height: 65px;
    width: 170px;
    transform: rotate(49deg) translateX(30px) translateY(10px);
    z-index: 2;
    background-color: rgba(245, 208, 165, 1);
}

