.entry-arab, .entry-foreign {
    text-align: center;
    min-height: 100vh;
    margin: 2%;
}

#a-ticket div, #f-ticket div {
    background-image: radial-gradient(circle at top left, transparent 17px, #dc143c 17px), radial-gradient(circle at top right, transparent 17px, #dc143c 17px), radial-gradient(circle at bottom left, transparent 17px, #dc143c 17px), radial-gradient(circle at bottom right, transparent 17px, #dc143c 17px);
    box-shadow: 0 38px 14px -35px rgba(0,0,0,0.3);
    background-size: 50% 50%;
    background-position: top left, top right, bottom left, bottom right;
}

/* ticket itself */
.entry-arab div {
    width: 220px;
    height: 110px;
    background-repeat: no-repeat;
}

.entry-foreign div {
    width: 220px;
    height: 110px;
    background-repeat: no-repeat;
}

/* position of ticket */
.entry-arab div{
    position: absolute;
    left: 2%;
    top: 25%;
}

.entry-foreign div{
    position: absolute;
    left: 2%;
    top: 50%;
}

#a-ticket div:before {
    content: 'EGYPTIANS/ARABS \A Adults: 20 LE \A Students: 10 LE';
    white-space: pre-wrap;
    width: 234px;
    height: 76px;
    left: -7px;
    top: 21px;
    background-size: 7px 7px;
    background-repeat: repeat-y;
    background-position: 0 0, 0 0, 100% 0, 100% 0;
    background-image: linear-gradient(45deg, transparent 75%, #dc143c 75%), linear-gradient(135deg, transparent 75%, #dc143c 75%), linear-gradient(-45deg, transparent 75%, #dc143c 75%), linear-gradient(-135deg, transparent 75%, #dc143c 75%);
    line-height: 1.4;
    font-size: 100;
}

#f-ticket div:before {
    content: 'FOREIGNERS \A Adults: 340 LE \A Students: 170 LE';
    white-space: pre-wrap;
    width: 234px;
    height: 76px;
    left: -7px;
    top: 21px;
    background-size: 7px 7px;
    background-repeat: repeat-y;
    background-position: 0 0, 0 0, 100% 0, 100% 0;
    background-image: linear-gradient(45deg, transparent 75%, #dc143c 75%), linear-gradient(135deg, transparent 75%, #dc143c 75%), linear-gradient(-45deg, transparent 75%, #dc143c 75%), linear-gradient(-135deg, transparent 75%, #dc143c 75%);
    line-height: 1.4;
    font-size: 100;
}

/* border inside of ticket */
.entry-arab div:before, .entry-arab div:after, .entry-foreign div:before, .entry-foreign div:after {
    content: '';
    position: absolute;
}

#a-ticket div:after, #f-ticket div:after {
    width: 75px;
    height: 185px;
    padding-top: 162px;
    top: -37px;
    left: 72px;
    border: 3px solid #fa8072;
}

/* text inside of border */
.entry-arab div:after {
    border-radius: 10px;
    transform: rotate(-90deg);
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    line-height: 1;
}


.entry-arab div:before {
    font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', Impact, 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.entry-arab div:before, .entry-arab div:after {
    box-sizing: border-box;
    color: #333;
}

.entry-foreign div:after {
    border-radius: 10px;
    transform: rotate(-90deg);
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    line-height: 1;
}


.entry-foreign div:before {
    font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', Impact, 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.entry-foreign div:before, .entry-foreign div:after {
    box-sizing: border-box;
    color: #333;
}