body {
  background-image: url('/public/home-bkgd-new.jpg');
  width: 100%;
  height: 100%;
  padding: 100%;
  z-index: 0;
}

.nav-bar{
  width: 100%;
  background-color: rgb(74, 36, 17);
  color: whitesmoke;
  align-items: center;
  z-index: 1;
}

.nav-bar button{
  font-size: 14px;
  padding: 1%;
  border: none;
}

.nav-bar button :hover{
  background-color: rgb(48, 34, 27);
}

