body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f8f5ed;
    opacity: 80%;
}

.container{
    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;
    min-height:100vh;
    min-height:100svh;
}

img {
    align-items: center;
    justify-content: center;
}